[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "config/nvim/plugged/ghcmod-vim"]
	path = config/nvim/plugged/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "config/nvim/plugged/neomake"]
	path = config/nvim/plugged/neomake
	url = https://github.com/benekastah/neomake
[submodule "config/nvim/plugged/vimproc.vim"]
	path = config/nvim/plugged/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "config/nvim/plugged/vim-sensible"]
	path = config/nvim/plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "config/nvim/plugged/deoplete-clang"]
	path = config/nvim/plugged/deoplete-clang
	url = https://github.com/zchee/deoplete-clang
[submodule "config/nvim/plugged/deoplete.nvim"]
	path = config/nvim/plugged/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "config/nvim/plugged/neco-ghc"]
	path = config/nvim/plugged/neco-ghc
	url = https://github.com/eagletmt/neco-ghc
